---
---

@import "minima";

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

$accent: #850101;

body {
    font-family: 'Montserrat', sans-serif;
    color: #383838;
}

// hide the heading on the front page (defaults to the word posts)
.post-list-heading {
    display: none
}

// hide the subscribe to rss feed
.rss-subscribe { display: none; }

// make code snippets on a nicer background
.highlighter-rouge .highlight {
    background: #f7f8f9;
}

pre, code {
    background-color: #f7f8f9;
}

// make the header bar white text on black
.site-header {
    background-color: $accent;
    border-top-color: $accent
}

.site-title, .site-title:visited, .site-nav .page-link {
    color: #fdfdfd;
}

.site-nav {
    background-color: $accent;
    border: none;
}

.menu-icon {
    svg {
        fill: #fdfdfd !important
    }
}

a {
    color: #222222
}

a:visited {
    color: #222222
}


// make headings more bold
h1, h2, h3 {
    font-weight: 500
}

// change footer shape
.footer-col-2 {
    width: -webkit-calc(60% - (30px / 2));
    width: calc(60% - (30px / 2));
}

.post-content {
    a {
        text-decoration: underline;
    }
}